{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .profile-form { margin-top: 1em; }
    .btn{
        background-color: #F77349;
        
    }
</style>

<div class="profile-form">
    <h1>Modifier mon profil</h1>

    <form method="post" action="">
        <div class="form-group">
            <label for="nom">Nom : </label>
        <input type="text" class="form-control" id="nom" placeholder="Saisir votre nom" name="nom" required>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom : </label>
            <input type="text" class="form-control" id="prenom" placeholder="Saisir votre prénom" name="prenom" required>
        </div>
        
        <div class="form-group">
            <label for="telephone">Téléphone : </label>
            <input type="text" class="form-control" id="telephone" placeholder="Saisir votre numéro de téléphone" name="telephone">
        </div>
        <br>

        <button type="submit" class="btn btn-primary"> <a href="{{ path('modify_account', {'id': account.id}) }}"> Mettre à jour mon profil</a></button>
        <button type="submit" class="btn btn-primary"><a href="{{ path('delete_account', {'id': account.id}) }}">Supprimer mon profil </a></button>  
    </form>
</div>
{% endblock %}
