{% extends 'base.html.twig' %}

{% block title %}Hello ContactguideController!{% endblock %}

{% block body %}
<div class="container">
      <br>
      <h1>Contactez le guide</h1>
      <br>

      <form method="post" action="">
        <div class="form-group">
          <label for="nom">Nom : </label>
          <input type="text" class="form-control" id="nom" placeholder="Saisir votre nom" name="nom" required>
        </div>
        <div class="form-group">
          <label for="prenom">Prénom : </label>
          <input type="text" class="form-control" id="prenom" placeholder="Saisir votre prénom" name="prenom" required>
        </div>
        <div class="form-group">
          <label for="email">Email : </label>
          <input type="email" class="form-control" id="email" placeholder="Saisir votre email" name="email" required>
        </div>
        <div class="form-group">
          <label for="Message">
          Votre message
          </label>
          <br />
          <textarea name="Message" id="Message" rows="5" cols="40"></textarea> 
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>       
      </form>
    </div>  
{% endblock %}
