{% extends 'base.html.twig' %}

{% block title %}Hello CreatewalkController!{% endblock %}

{% block body %}
<div class="container">
      <br>
      <h1>Créer une promenade</h1>
      <br>

      <form method="post" action="">
        <div class="form-group">
          <label for="type">Type de promenade: </label>
          <input type="text" class="form-control" id="type de promenade" placeholder="Saisir votre type de promenade" name="type de promenade" required>
        </div>
        <div class="form-group">
          <label for="lieu">Lieu : </label>
          <input type="text" class="form-control" id="lieu" placeholder="Saisir le lieu" name="lieu" required>
        </div>
        <div class="form-group">
          <label for="Message">
            Description
          </label>
          <br>
          <textarea name="Message" id="Message" rows="10" cols="50" required></textarea> 
        </div>
        <input type="file" name="monfichier">
		    <br><br>

        <button type="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>  
{% endblock %}
