{% extends 'base.html.twig' %}

{% block title %}Hello HowItWorksController!{% endblock %}

{% block body %}
<style>
    .row.content {height: 1500px}
    
    .sidenav {
      background-color: #F5E1A0;
      height: 100%;
    } 
 
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
</style>

 <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-1 sidenav">
      </div>

      <div class="col-sm-11">
        
        <hr>
        <h2>Réservations</h2>
        <br>
        <p>Pour réserver des créneaux horaires, choississez les balades de votre choix et sélectionnez les. Vous pourrez alors sélectionner les dates et horaires.</p>
        <br><br>

        <hr>
        <h2>Visites</h2>
        <br>
        <p>Pour résever des créneaux horaires, choississez les balades de votre choix et sélectionnez les. Vous pourrez alors sélectionner les dates et horaires.</p>
        <br><br>

        <hr>
        <h2>Création</h2>
        <br>
        <p>Pour résever des créneaux horaires, choississez les balades de votre choix et sélectionnez les. Vous pourrez alors sélectionner les dates et horaires.</p>
        <br><br>

      </div>
    </div>
  </div>
{% endblock %}
