{% extends 'base.html.twig' %}

{% block title %}Comment ça fonctionne{% endblock %}

{% block body %}
<style>
     .row.content {height: 1500px}
    
    
    .sidenav {
      background-color: #FCF5DF;
      height: 100%;
    } 
 
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
</style>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>

      <div class="col-sm-10">
        
        <hr>
        <h2>Réservation</h2>
        <br>
        <p>Pour réserver une balade avec l'un de nos guides, il vous suffit de parcourir les balades qui vous sont proposées. Créez un compte visiteur et réservez la balade de votre choix directement sur le calendrier. Vous pourrez ensuite régler par CB ou paypal. Pour annuler une visite et être remboursé de la totalité du prix de la visite, veuillez annuler 48 heures avant. Dans un souci d'organition et de respect pour les guides, nous vous proposons la possibilité d'annuler le jour même tout en étant remboursé  que de la moitié de la somme déboursée. Merci.</p>
        <br>

        
        <h2>Les guides</h2>
        <br>
        <p>Nous avons rencontré chacun de nos guides et nous nous assurons de la bienveillance de chacun d'entre eux. Si vous avez des questions précises sur les balades proposées, vous pouvez directement vous adresser aux guides. Pour ce faire, il vous faudra vous créer un compte.</p>
        <br>

        <h2>Les balades</h2>
        <br>
        <p>Les balades que nous vous proposons sont uniques et en ce qui concerne les visites plus insolites, vous ne les retrouverez pas ailleurs puisqu'elles ont été entièrement créées par nos guides. Aussi, certains de ces lieux sont fragiles, nous vous demanderons de respecter les directives données par le guide. </p>

      
      </div>
    </div>
  </div>
</div>
{% endblock %}
