{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<style>
    .row.content {height: 1500px}
    
    
    .sidenav {
      background-color: #F5E1A0;
      height: 100%;
    } 
 
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
</style>

 <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-1 sidenav">
      </div>

      <div class="col-sm-11">
        
        <hr>
        <h2>A propos de nous</h2>
        <br>
        <p>Nous sommes une entreprise qui propose de mettre en relation des guides parisiens et parisiennes et des touristes. Ces guides vont feront visiter un Paris connu comme un Paris plus insolite/ Notre object principal est de vous faire découvrir Paris comme elle est vue par ceux et celles qui la connaissent.</p>
        <br><br>
      </div>
    </div>
  </div>


{% endblock %}
