{% extends 'base.html.twig' %}

{% block title %}Hello WalkController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   
</style>

<div class="card border-0">
  <div class="card-body">
    <h1 class="card-title">Ajouter une balade</h5>


      <form method="post" action="">
        <div class="form-group">
          <label for="type">Type de promenade: </label>
          <input type="text" class="form-control" id="type de promenade" placeholder="Saisir votre type de promenade" name="type de promenade" required>
        </div>
        <div class="form-group">
          <label for="lieu">Lieu : </label>
          <input type="text" class="form-control" id="lieu" placeholder="Saisir le lieu" name="lieu" required>
        </div>
        <div class="form-group">
          <label for="Message">
            Description
          </label>
          <br>
          <textarea name="Message" id="Message" rows="10" cols="50" required></textarea> 
        </div>
        <input type="file" name="monfichier">
		    <br><br>

        <button type="submit" class="btn btn-primary">Créer</button> <a href="{{path('dashboard')}}">Annuler</a> 
      </form>

  </div>
</div>

{% endblock %}
