{% extends 'base.html.twig' %}

{% block title %}Hello WalkController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   
</style>

<body style="background-color:snow;">
    <div class="card" style="width: 18rem; float: right; margin-right: 200px; margin-top:30px;">
        <div class="card-body">
          <h4 class="card-title">Détails de la visite</h4>
          <p class="card-text">Le prix:30 euros. Le prix comprend: Une visite avec guidée .</p>
          <a href="#" class="btn btn-primary">Réservation</a>
        </div>
    </div>
    <div class="container">
        <h1 style="font-style: italic; color: black;">Goussainville Vieux-Pays </h1>
            <p style="text-align: initial; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
                À quelques minutes de la gare RER de Goussainville se trouve<br>
                Le hameau, trop proche d'une des pistes de l'aéroport de Roissy, s'est arrêté en 1973. <br>
                Au premier regard, on ne voit que les maisons en ruine. Mais ne parlez surtout pas de village fantôme...
                l’un des villages les plus insolites d’Île-de-France. Depuis 1973, ce hameau situé<br>
                 à cinq kilomètres de l’aéroport Roissy Charles de Gaulle est presque entièrement abandonné <br>
                 C'est un voyage inoubliable, venez avec nous.
            </p>     
    </div>
    <br>
    <br>
    <div class="images">
        <img src="{{ asset('images/1o.jpg') }}"  alt="...">
        <img src="{{ asset('images/3abd.jpg') }}" alt="...">   
    </div>

    <br> 
    <h2 style="color: darkgoldenrod; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: 10px;">Guide touristique</h2>
    <br>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/ja1.jpg') }}" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Madeleine B.</h5>
            <p class="card-text">Une amoureux de Paris et de ses coins et recoins.
              Depuis 5 ans, il s'occupe de tournées de loisir dans ses coins et recoins. Il connaît les demeures abandonnées comme sa propre poche.
              Passionné d'architecture et de photographie</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <br>
      <h1>Contactez le guide</h1>
      <br>

      <form method="post" action="">
        <div class="form-group">
          <label for="nom">Nom : </label>
          <input type="text" class="form-control" id="nom" placeholder="Saisir votre nom" name="nom" required>
        </div>
        <div class="form-group">
          <label for="prenom">Prénom : </label>
          <input type="text" class="form-control" id="prenom" placeholder="Saisir votre prénom" name="prenom" required>
        </div>
        <div class="form-group">
          <label for="email">Email : </label>
          <input type="email" class="form-control" id="email" placeholder="Saisir votre email" name="email" required>
        </div>
        <div class="form-group">
          <label for="Message">
          Votre message
          </label>
          <br />
          <textarea name="Message" id="Message" rows="5" cols="40"></textarea> 
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>       
      </form>
    </div>  


{% endblock %}
